%section
  %header
    %h1 looking for a job in san francisco

  %p
    if you are interested to have an <em>awesome ruby & javascript software
    engineer</em> in your team to develop awesome products, then check-out my <a href="http://github.com/mikaa123">github</a> and send me an <a href="mailto:mikaa123@gmail.com">email</a>.

  %p
    i'll be in san francisco in <em>july</em>, maybe we could meet up?

  %h2
    ways to know if i'd be a good fit in your team:

  %ul
    %li you like puns, but you can't admit it.
    %li you enjoy software with a cute name, such as <a href="https://github.com/mikaa123/chimney">chimney</a>.
    %li you have a coffee machine in the office, a nice one.
    %li you think animated gifs are the future, and like <a href="http://astoryofgif.com/artboard">my gif editor</a>.
    %li you read <a href="http://www.mcsweeneys.net/tendency">mcsweeney's internet tendency</a>.
    %li
      you are not concerned that i deliberatly omited any uppercase character on 
      the whole page.
    %li you use vim, and you like it.
    %li you don't eat at mcdonalds, but eat at in-n-out.
    %li
      you like linked open data and you think the pictures in
      <a href="/h2lod.pdf">the book i've started on the subject</a> are cool.
    %li you think cows are cool, too.
    %li
      you believe <a href="http://cowpilot.herokuapp.com">cowpilot</a>, an app i made
      with a cow that reads tweets out loud is a great idea.
    %li
      you think json-ld is a good idea. in which case you might want to check my
      <a href="/me.jsonld">foaf file</a>.

  %p
    send me an <a href="mailto:mikaa123@gmail.com">email</a> to get in touch.
    bonus point if you write a joke.
