%section
  %h1 Contact
  %p
    You can send me a message at mikaa123 at gmail.
  %p
    You can find me on Twitter,
    %a{:href => 'http://www.twitter.com/_ms123'} @_ms123
  
  %p
    On
    %a{:href => 'http://github.com/mikaa123/'} Github


